#gameArea {
  margin: 0 auto;
  width: 600px;
  padding: 15px;
  background-color: #fcfcfc7a;
  border-radius: 4px;
}

#gameArea .pcGameArea, #gameArea .userGameArea {
  width: 50%;
  float: left;
  padding: 0;
  display: block;
  margin: 0 0 20px;
}

#gameArea .gameField {
  margin: 5px 15px 0 0;
  display: block;
  padding: 0;
}

#gameArea .gameField div {
  margin: -1px;
  display: block;
  position: relative;
  float: left;
  background-color: #fcfcfc;
  border: 1px solid #a7ddf5;
  text-align: center;
  color: #F44336;
}

#gameArea .gameField div .badge {
  font-size: 2em;
  color: #F44336;
}

#gameArea .gameField .ship {
  background-color: #7bc4ff;
}

#gameArea .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #357ebd;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.2em;
  color: #fff;
  background-color: #428bca;
}

#gameArea .toolbar {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#gameArea .footer {
  text-align: center;
}
